*{
    margin: 0px;
    padding: 0px;
}
.f1{
width: 100px;
height: 100px;
background-color: purple;
float: left;
}
.f2{
    width: 100px;
    height: 100px;
    background-color:red;
    float: left;
    }
.f3{
width: 100px;
 height: 100px;
background-color:rgb(82, 129, 6);
float: left;
 } 
 
 .f4{
    width: 100px;
     height: 100px;
    background-color: sandybrown;
    float: right;
     }