*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fafafa;
}
.hearder{
    height: 60px;
    background-color: #fff;
}
.inner{
width: 1200px;
height: 60px;
/*background-color: pink;*/
margin: 0 auto;
}
.logo{
   float: left; 
}
.nav{
    float: right;   
    height: 60px;      
 }
 .nav ul{
    overflow: hidden;
 }
 .nav li{
     list-style: none;
     float: left;
     line-height: 60px;
     margin-left:40px ;
 }
 .nav a{
     text-decoration: none;
     font-size: 14px;
 }
 .nav a:hover{
    color: skyblue; 
 }
 .banner{
     height: 362px;
     background: url("./images/banner.png") no-repeat  center top ;
 }
 .service{
    width: 1164px;   
    height: 900px;
    margin:30px auto 0;
   
 }
 .service_bd1{
     margin-top: 30px;
 }
 .service-head{
    border-top: 1px solid #ccc;
    margin: 0px 20px;
 }
 .footer{
     margin: 40px 0 30px 0;
     height: 320px;
    
 }
 .footer_hader{
    height: 265px; 
    background-color:#E6F2FF;
 }
 .footer_end{
    background-color:#003388;
    height: 70px;
 }
 .service h3{
     width: 120px;   
    height: 50px;
    margin: 0 auto; 
    text-align: center;
    margin-top: -10px;
 }
 .service h3 p{
     font-size: 14px;
     font-weight: normal;
     width: 120px;   
 }
 .service-head p{
     font-size: 10px;
     color: #666;
     line-height: 26px;
     text-align: center;
     width: 830px;
     margin: 0 auto;
 }
 .service_bd1 li{
    list-style: none;
    /* background-color:pink; */
    width: 280px;
    height: 340px;
    float: left;
 }
 .service_bd1 img{
     width: 255px;
 }
 .clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 }

 .tb{
    background-color: red;
 }